@model TestMVC.Models.EventViewModel
@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("AddEvent", "Events", FormMethod.Post))
{
    <h2>AddEvent</h2>
     <section class="form-element">
         <p>Enter name</p>
         @Html.TextBoxFor(model => model.Title)
    </section>
    <section class="form-element">
        <p>Enter short description</p>
        @Html.TextBoxFor(model => model.Description)
    </section>
    <section class="form-element">
        <p>Enter details</p>
        @Html.TextBoxFor(model => model.Details)
    </section>
    <section class="form-element">
        <p>Enter location :</p>
        @Html.TextBoxFor(model => model.Location)
    </section>
    <section>
        <p>Date from</p>
        <input type="date" name="DateFrom" placeholder="dd.mm.yyyy"/>
    </section>
    <section>
        <p>Date to</p>
        <input type="date" name="DateTo" placeholder="dd.mm.yyyy"/>
    </section>
    <section class="form-element">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </section>
}