@{
    ViewBag.Title = "AddEvent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" action="">
    <section class="form-element">
        <p>Enter name</p>
        <input type="text" name="title" />
    </section>
    <section class="form-element">
        <p>Enter short description</p>
        <input type="text" name="description" />
    </section>
    <section class="form-element">
        <p>Enter details</p>
        <input type="text" name="details" />
    </section>
    <section class="form-element">
        <p>Enter location :</p>
        <input type="text" name="location" />
    </section>
    <section class="form-element">
        <input type="submit" value="Отправить" class="btn btn-default" />
    </section>
</form>